.button-wrapper {
  align-items: center;
  background-color: #36D3CA;
  border-radius: 12px;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  width: 255px;
  height: 52px;
  padding: 0px;
}

.button-wrapper .button {
  position: relative;

  color: #000000;
}

.button-wrapper.disabled {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #FFF;
  opacity: 0.2;
}

.button-wrapper .button.disabled {
  color: white;
}

.button-wrapper.secondary-action {
  color: white;
  border: 1px solid var(--gradient-blue-yellow, #36D3CA);
  background-color: #00000000;
}

.button-wrapper.secondary-action .button{
  color: white;
}