.btn-create-task {
  position: relative;
  height: 144px;
  width: 335px;
  
  border-radius: 16px;
  background: var(--main-white-3, rgba(255, 255, 255, 0.03));

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-create-task .icon-plus {
  position: absolute;
  height: 48px;
  width: 48px;
}