.slider-wrapper {
    width: 100%;
}

.slider-wrapper .label {
    position: absolute;
    left: 40px;
    top: 12px;

    color: #FFF;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    opacity: 0.2;
}

.slider-wrapper .value {
    position: absolute;
    right: 40px;
    top: 0px;
    
    color: #FFF;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    text-align: right;
}

.slider-wrapper .slider {
    position: absolute;
    left: 22px;
    top: 45px;
    width: 332px;
    height: 0px;
    -webkit-appearance: none;
}

.slider.background {
    height: 2px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
}

.slider::-moz-range-thumb {
    appearance: none;
}

.slider.my-value::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    background-image: linear-gradient(47deg, #36D3CA 43.29%, #F6FA36 119.01%);
    cursor: pointer;
    border-radius: 10px;
}

.slider.my-value::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-image: linear-gradient(47deg, #36D3CA 43.29%, #F6FA36 119.01%);
    cursor: pointer;
    border-radius: 10px;
}

.slider.other-value {
    --thumb-color: white;
}

.slider.other-value::-webkit-slider-thumb {
    background-color: var(--thumb-color);
    width: 12px;
    height: 12px;
    border-radius: 6px;
}

.slider.other-value::-moz-range-thumb {
    background-color: var(--thumb-color);
    width: 12px;
    height: 12px;
    border-radius: 6px;
}
