.stars .amount {
    color: #FFF;
    text-align: right;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    text-wrap: nowrap;
    line-height: normal;
    
    opacity: 0.9;
    width: 70px;
    height: 30px;
    position: absolute;
    right: 36px;
    top: 4px;
    margin: 0;
}

.stars .amount.positive {
    color: green;
}

.stars .amount.negative {
    color: red;
}

.stars .icon-star {
    height: 32px;
    right: 0px;
    position: absolute;
    top: 15px;
    width: 32px;
}