.stars {
  display: flex;
  flex-direction: row;
}
.stars .amount {
    color: #FFF;
    opacity: 1;
    margin: 0;
    line-height: 30px;
    /* height: 30px; */
}

.stars .amount.positive {
    /* color: green; */
}

.stars .amount.negative {
    /* color: red; */
}

.stars .icon-star {
    height: 28px;
    width: 28px;
    position: relative;
    margin-left: 4px;
}