.task-long {
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.03);
    height: 206px;
    left: 0;
    position: absolute;
    top: 0;
    width: 335px;
}

.task-long .title {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.9;
    text-align: left;
    
    height: 24px;
    position: absolute;
    left: 20px;
    top: 16px;
    width: 148px;
}

.task-long .description {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: left;
    opacity: 0.9;
    position: absolute;
    left: 20px;
    top: 70px;
    width: 295px;
    height: 120px;
    margin: 0;
    resize: none;
    background: none;
    border: none;
    pointer-events: none; 
}

.task-long .bet-amount {
    color: #FFF;
    text-align: right;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    text-wrap: nowrap;
    line-height: normal;
    
    opacity: 0.9;
    width: 60px;
    height: 30px;
    position: absolute;
    left: 223px;
    top: 4px;
    margin: 0;
}

.task-long .icon-star {
    height: 32px;
    left: 287px;
    position: absolute;
    top: 15px;
    width: 32px;
}

.task-long .status {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    opacity: 0.4;
    width: 200px;
    height: 16px;
    position: absolute;
    top: 48px;
    left: 20px;
}

.task-long .term {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: right;
    opacity: 0.4;
    width: 200px;
    height: 16px;
    position: absolute;
    top: 48px;
    right: 20px;
}
