.task-short {
    position: relative;
    height: 88px;
    width: 100%;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.03);
    margin-bottom: 16px;
}

.task-short .title {
    position: absolute;
    left: 20px;
    top: 11px;

    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.9;
}

.task-short .status {
    position: absolute;
    left: 20px;
    top: 37px;

    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.4;
}

.task-short .owner {
    position: absolute;
    left: 20px;
    top: 57px;

    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.4;
}

.task-short .stars-value {
    width: 60px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 0px;
    margin: 0;
}

.task-short .completion-bonus {
    width: 110px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 52px;
    margin: 0;
}
.task-short .completion-bonus-text {
    position: absolute;
    left: 0px;
    top: 4px;

    color: #65c068;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.4;
}
.task-short .completion-bonus-stars {
    position: absolute;
    right: 0px;
    scale: 0.5;
}