.task-short {
  position: relative;
  width: 335px;
  height: 104px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.03);
}

.task-short .title {
  position: absolute;
  width: 195px;
  height: 40px;
  left: 20px;
  top: 16px;

  color: #FFF;
  opacity: 1;
  text-align: left;
  text-wrap: wrap;
  overflow-wrap: break-word;
}

.task-short .task-short-state {
  position: absolute;
  left: 20px;
  top: 72px;
  justify-content: left;
}

#task-short-stars-value {
  position: absolute;
  width: 60px;
  height: 30px;
  right: 52px;
  top: 16px;
  color: white;
  line-height: 30px;
  text-align: right;
}

#task-short-star-icon {
  position: absolute;
  width: 28px;
  height: 28px;
  right: 20px;
  top: 16px;
}

.task-short .owner {
  position: absolute;
  right: 20px;
  bottom: 12px;

  color: #FFF;
  opacity: 0.6;
  text-align: right;
}

.task-short #completion-bonus {
  position: absolute;
  bottom: 16px;
  right: 20px;
  width: 136px;
  height: 16px;

}

.task-short #completion-bonus-text {
  position: absolute;
  left: 0px;
  text-align: left;
  color: white;
  opacity: 0.6;

}

.task-short #completion-bonus-amount {
  position: absolute;
  right: 20px;
  text-align: right;
  color: white;
  opacity: 1;
}

.task-short #completion-bonus-icon-star {
  position: absolute;
  right: 0px;
  width: 15px;
  height: 24px;
}