.user-info {
  height: 44px;
  width: 230px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.20);
}

.user-info .username {
  position: absolute;
  top: 13px;
  left: 20px;
  color: #FFF;
}

.user-info .stars-amount {
  position: absolute;
  top: 13px;
  right: 43px;
  text-align: right;
  color: white;
}

.user-info .icon-star {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 20px;
  height: 20px;
}
