.menu-button {
  width: 48px;
  height: 62px;
  padding-left: 22px;
  padding-right: 22px;
  opacity: 0.4;

  position: relative;
  top: 5px;
}

.menu-button.active {
  opacity: 1;
}

.menu-button .icon {
  position: absolute;
  top: 0px;
  stroke-opacity: 1;
  width: 48px;
  height: 48px;
}

.menu-button .text {
  position: absolute;
  top: 43px;
  text-align: center;
  width: 48px;

  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}