.menu {
  position: fixed;
  bottom: 0px;
  height: 103px;
  width: 100%;
  background-color: #131515;
}

.menu .divider {
  position: absolute;
  height: 1px;
  width: 100%;
  background: white;
  opacity: 0.2;
}

.menu .buttons {
  display: flex;
  justify-content: center;
}