.task-editor {
  display: flex;
  flex-direction: column;
}

.task-editor .create-edit-label {
  position: relative;
  margin-top: 82px;
}

.task-editor .task-state {
  position: relative;
  margin-top: 12px;
}

.task-editor .title-wrapper {
  position: relative;
  margin-top: 32px;
  height: 72px;
}

.task-editor .title {
  resize: none;
}

.task-editor .description-wrapper {
  position: relative;
  margin-top: 24px;
  height: 224px;
}

.task-editor .description {
  resize: none;
}

.task-editor .input-len-limit {
  margin-top: 8px;
  margin-right: 20px;
  text-align: right;
  color: white;
  opacity: 0.2;
}

.task-editor .term-hours {
  position: relative;
  margin-top: 39px;
  left: 20px;
}

.task-editor .bet-amount {
  position: relative;
  margin-top: 0px;
  left: 20px;
}

.task-editor .bets-legend {
  position: relative;
  margin-top: 16px;
  left: 40px;
}



.task-editor .win-payout {
  position: relative;
  margin-top: 64px;
  left: 40px;
  display: flex;
  flex-direction: column;
}

.task-editor .win-payout-text {
  position: relative;
  height: 16px;
  color: white;
  opacity: 0.6;
  text-align: left;
}

.task-editor .win-payout-amout {
  position: relative;
  margin-top: 8px;
}

.task-editor .error {
  position: absolute;
  top: 730px;
  left: 20px;
  width: 100%;
  color: rgba(214, 39, 39, 0.719);
  text-align: left;
}

.task-editor .buttons {
  position: relative;
  margin-top: 64px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.task-editor .button-wrapper {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.task-editor .abandon-button {
  border: 1px solid var(--accent-red, #DD665E);
}

.task-editor .footer {
  position: relative;
  width: 100%;
  height: 1px;
  margin-top: 80px;
}