.explore {
  display: flex;
  flex-direction: column;
}

.explore .logo-wrapper {
  position: relative;
  margin-top: 32px;
}

.explore .tasks-accepting-bets {
  position: relative;
  margin-top: 18px;
}

.explore .list-wrapper {
  position: relative;
  margin-top: 16px;
  margin-bottom: 80px;
  width: 335px;
  left: 20px
}