.history {
  display: flex;
  flex-direction: column;
}

.history .logo-wrapper {
  position: relative;
  margin-top: 32px;
}

.history #history-tabs {
  position: relative;
  margin-top: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 23px;
}

.history .tab {
  position: relative;
  width: 122px;
  height: 40px;
  border-radius: 12px;
  color: white;
  opacity: 0.4;
  text-align: center;
  line-height: 40px;
  border: 1px solid #ffffff00;
}

.history .tab.tasks {
}

.history .tab.bets {
}

.history .tab.active {
  border: 1px solid var(--main-white-100, #FFF);
  opacity: 1;
}

.history .list-wrapper {
  position: relative;
  margin-top: 24px;
  margin-bottom: 80px;
  width: 335px;
  left: 20px
}