.home {
  display: flex;
  flex-direction: column;
}

.home .logo-wrapper {
  position: relative;
  margin-top: 24px;
}

.home .user-info {
  position: relative;
  margin-top: 4px;
  left: 50%;
  transform: translateX(-50%);
}

.home .section-title.your-task {
  position: relative;
  margin-top: 40px;
}

.home .task-block-wrapper {
  position: relative;
  margin-top: 16px;
  left: 20px;
  display: flex;
}

.home .section-title.your-bets {
  position: relative;
  margin-top: 64px;
}

.home .your-bets-list {
  position: relative;
  margin-top: 16px;
  margin-bottom: 80px;
  width: 335px;
  left: 20px
}