.home .user-info {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
}

.home .section-title.your-task {
    position: absolute;
    top: 146px;
}

.home .task-block-wrapper {
    position: absolute;
    top: 174px;
    left: 20px;
    width: 100%;
}

.home .section-title.your-bets {
    position: absolute;
    top: 414px;
}

.home .your-bets-list {
    position: absolute;
    top: 442px;
    width: 335px;
    left: 20px
}