.login .logo-wrapper {
  top: 80px;
}

.login .login-text {
    position: absolute;
    top: 252px;
}
.login .email-wrapper {
    top: 284px;
    height: 48px;
}
.login .password-wrapper {
    top: 348px;
    height: 48px;
}
.login .error {
    display: flex;
    justify-content: center;
    position: absolute;
    color: #DD665E;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    top: 420px;
    height: 16px;
    width: 100%;
}
.login .login-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 476px;
    width: 201px;
    height: 52px;
    padding: 0px;
}