.login .logo-wrapper {
  position: relative;
  margin-top: 64px;
}

.login .login-form {
  position: relative;
  margin-top: 80px;
}

.login .login-text {
  position: relative;
  margin-top: 0px;
  margin-left: 40px;
  left: 0px
}

.login .email-wrapper {
  position: relative;
  margin-top: 16px;
  height: 48px;
}

.login .password-wrapper {
  position: relative;
  margin-top: 16px;
  height: 48px;
}

.login .error {
  position: relative;
  margin-top: 24px;
  height: 16px;
  width: 100%;

  display: flex;
  justify-content: center;
  color: #DD665E;
  text-align: center;
}

.login .login-button {
  position: relative;
  margin-top: 40px;
  width: 255px;
  height: 52px;
  padding: 0px;
}