.login .email-label {
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
    color: gray;
    text-align: center;
    width: 100%;
}
.login .email {
    display: flex;
    justify-content: center;
    position: relative;
    top: 110px;
    width: 100%;
}
.login .password-label {
    display: flex;
    justify-content: center;
    position: relative;
    top: 130px;
    color: gray;
    text-align: center;
    width: 100%;
}
.login .password {
    display: flex;
    justify-content: center;
    position: relative;
    top: 140px;
    width: 100%;
}
.login .error {
    display: flex;
    justify-content: center;
    position: relative;
    top: 160px;
    color: rgb(182, 7, 7);
    text-align: center;
    width: 100%;
}
.login .login-button {
    display: flex;
    justify-content: center;
    position: relative;
    top: 200px;
    align-self: center;
    align-content: center;
    align-items: center;
}