.App .content {
  width: 375px;
}

.screen {
  width: 375px;
  text-align: center;
  position: relative;
}

.scroll-track {
  position: absolute;
  overflow: hidden;
  user-select: none;
  width: 4px;
  height: calc(100%);
  top: 0px;
  right: 0px;
}

.scroll-thumb {
  background-color: white;
  opacity: 0.5;
  display: block;
  border-radius: 3px;
}

.section-title {
  left: 40px;
  text-align: left;

  color: #FFF;
  opacity: 0.6;

  /* from h3 */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.14px;
  text-transform: uppercase;
}

.screen-title {
  text-align: center;
  /* position: relative; */
  /* top: 82px; */
  width: 100%;
  color: white;
}

.input-wrapper {
  left: 20px;
  width: 335px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.03);
  display: flex;
}

.input-wrapper.input-error {
  border: 1px solid #DD665E;
}

.input {
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  color: white;
  opacity: 1;
  overflow: hidden;
}

/* Typography */
.h1 {
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.h2 {
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.h3 {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.14px;
  text-transform: uppercase;
}

.h4 {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.body1 {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.body2 {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.body3 {
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}