.App .content {
    width: 375px;
}

.screen {
    width: 375px;
    text-align: center;
    position: relative;
}

.section-title {
    color: rgba(255, 255, 255, 0.2);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    height: 16px;
    left: 20px;
    text-align: left;
}

.input-wrapper {
  position: absolute;
  left: 20px;
  width: 335px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.03);
}

.input-wrapper.input-error {
  border: 1px solid #DD665E;
}

.input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 20px;
  border: none;
  background: none;
  outline: none;
  
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  opacity: 0.9;
}